* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background:rgb(238, 218, 192);
}

header {
    background: #0077cc;
    color: white;
    text-align: center;
    padding: 10px 10px;
}

header h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.appointment-form {
    background: #ffff;
    width: 90%;
    max-width: 450px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.appointment-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form label {
    display: block;
    margin: 10px 0 5px;
    color: #444;
}

form input, form select {
    width: 100%;
    padding: 12px;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 12px;
    background: #0077cc;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #005fa3;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 15px;
    background: #2887cb;
    color: white;
}
/*toppest*/
.toppest{
  font-family: arial, sans-serif;
  font-size: 1em;
  color: #ffffff;
  display: flex;
  padding-top: 5px;
  padding-left: 40px;
  background-color: rgb(9, 14, 44);
  padding-bottom: 5px;
} 
.toppest span{
  margin-right: 30px;
}
.toppest a{
    color: #ffffff;
    text-decoration: none;
}
option{
  background-color: rgb(9, 14, 44);
  font-family: arial;
   border-color: rgb(9, 14, 44);
}
select{
  font: inherit;
  border-radius: 200px;
  background-color: rgb(9, 15, 44);
  color: #ffffff;
  border-color: rgb(9, 14, 44);
}