body{
    background-color:rgba(78, 143, 255,0.266);
}
.medical{display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 95vh;
}

.medical2{
border: 2px solid;
text-align: center;
width: 80%;
height: 630px;
background-color:white;
border-radius: 25px;
}
img{
    width: 400px;
   padding: 20px;
    
}
p{
    text-align: left;
    letter-spacing: 0.3px;
    line-height: 120%;
    font-size: 25px;
    padding-left: 20px;
    text-transform: none;
}